<div class="content">
  <div class="content__container container">
    <div class="content__contacts">
      <img src="/images/logo/logoSecond.svg" alt="logo" class="content__logo">
      <a href="/#">
        <img src="/images/icons/Facebook.svg" alt="icon" class="content__icon-social">
      </a>
      <a href="/#">
        <img src="/images/icons/Instagram.svg" alt="icon" class="content__icon-social">
      </a>
      <a href="/#">
        <img src="/images/icons/Twitter.svg" alt="icon" class="content__icon-social">
      </a>
      <a href="/#">
        <img src="/images/icons/Vkontakte.svg" alt="icon" class="content__icon-social">
      </a>
    </div>
    <img src="/images/logo/thirdLogo.svg" alt="icon" class="content__logo_modile">
    <ul class="content__navigation">
      <li><button class="content__li medium-font">Северный парк</button></li>
      <li><button class="content__li medium-font">Cтанция Столичная</button></li>
      <li><button class="content__li medium-font">Лето</button></li>
      <li><button class="content__li medium-font">Сказочный дом</button></li>
      <li><button class="content__li medium-font">Краски</button></li>

      <li><button class="content__li medium-font">Реннесанс</button></li>
      <li><button class="content__li medium-font">Компасс сити</button></li>
      <li><button class="content__li medium-font">Бруклин</button></li>
      <li><button class="content__li medium-font">Монблан</button></li>
    </ul>

    <div class="content__info"></div>
    <h2 class="content__title content__title_mobile">Стильная архитектура и виды из окон будущей квартиры не оставят равнодушных</h2>
    <div class="content__block-title">
      <div class="swiper swiper-title">
        <div class="swiper-wrapper">
          <h2 class="swiper-slide content__title">Стильная архитектура и виды из окон будущей квартиры не оставят равнодушных</h2>
          <h2 class="swiper-slide content__title">Большие парковые территории и безопасные дворы для счастливой жизни</h2>
          <h2 class="swiper-slide content__title">Стильная архитектура и виды из окон будущей квартиры не оставят равнодушных</h2>
        </div>
      </div>
      <span class="content__bottom">
        <button class="content__button content__button_border medium-font">+ Выбрать квартиру</button>
        <button class="content__button medium-font">Купить квартиру онлайн ></button>
      </span>
    </div>
  </div>
</div>