<div class="swiper video-swiper">
  <div class="video__overlay"></div>
  <div class="swiper-wrapper video-wrapper">
    <video class="swiper-slide swiper-video" src="/videos/1.mp4" loop autoplay muted></video>
    <video class="swiper-slide swiper-video" src="/videos/2.mp4" loop autoplay muted></video>
    <video class="swiper-slide swiper-video" src="/videos/3.mp4" loop autoplay muted></video>
  </div>
</div>
<div class="swiper-video__btn-container">
  <div class="swiper-button-next video-button-next">
    <svg class="swiper-video__toggle-btn-circle-icon" viewBox="0 0 40 40">
      <circle class="swiper-video__toggle-btn-circle" cx="20" cy="20" r="20"></circle>
      <circle class="swiper-video__toggle-btn-circle-static" cx="20" cy="20" r="20"></circle>
    </svg>
  </div>
  <div class="swiper-button-prev video-button-prev"></div>
</div>